include $(TOPDIR)/scripts/sub-target.mk

SUB_DIR := 
SUB_TARGET-$(CFG_ ) += 

$(SUB_TARGET-y) $(SUB_TARGET-m): FORCE
	$(call export_macros,$(shell grep -i ^CFG_.*$@_ $(TOPDIR)/include/config/auto.conf))
	$(SILENT)$(MAKE) -C $@

$(eval $(call build_sub_targets))
